<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.secuso.privacyfriendlyfinance">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".activities.PFFinanceApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TutorialActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlyfinance.activities.TransactionsActivity" />
        </activity>
        <activity
            android:name=".activities.TransactionsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CategoriesActivity"
            android:label="@string/category"
            android:parentActivityName=".activities.TransactionsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlyfinance.activities.TransactionsActivity" />
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/activity_about_title"
            android:parentActivityName=".activities.TransactionsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlyfinance.activities.TransactionsActivity" />
        </activity>
        <activity
            android:name=".activities.HelpActivity"
            android:label="@string/help"
            android:parentActivityName=".activities.TransactionsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlyfinance.activities.TransactionsActivity" />
        </activity>
        <activity android:name=".activities.StartupActivity" />
        <activity
            android:name=".activities.AccountsActivity"
            android:label="@string/activity_accounts_manifest_label"
            android:parentActivityName=".activities.TransactionsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlyfinance.activities.TransactionsActivity" />
        </activity>
        <activity
            android:name=".activities.CategoryActivity"
            android:parentActivityName=".activities.CategoriesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlyfinance.activities.CategoriesActivity" />
        </activity>
        <activity
            android:name=".activities.AccountActivity"
            android:parentActivityName=".activities.AccountsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlyfinance.activities.AccountsActivity" />
        </activity>
        <activity
            android:name=".activities.RepeatingTransactionsActivity"
            android:parentActivityName=".activities.TransactionsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlyfinance.activities.TransactionsActivity" />
        </activity>
        <service
            android:name=".backup.PFABackupService"
            android:enabled="true"
            android:exported="true"
            android:process=":backup"
            tools:ignore="ExportedService">
            <intent-filter>
                <action
                    android:name="org.secuso.privacyfriendlybackup.api.pfa.PFAAuthService" />
            </intent-filter>
        </service>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.secuso.privacyfriendlyfinance"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>
    </application>

</manifest>